/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}
header {

}
footer {

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header, footer {
  height: 150px;
  width: auto;
  border: 1px solid black;
  clear: both;
  background: purple;
}
nav, ul {
  text-align: center;
}
li {
  display: inline-block;
  height: 50px;
  width: 10%;
  float: left;
  border: 1px solid black;
  margin-right: 5%;
}
.longNose {
  height: 200px;
  width: 80%;
  border: 1px solid black;
  float: left;
}
.lilBox {
  height: 200px;
  width: 20%;
  border: 1px solid black;
  float: left;
  background: yellow
}
section {
  height: 200px;
  width: 33.3333%;
  border: 1px solid black;
  float: left;
}

@media(min-width: 320px) and (max-height: 640px){
  /* Styles */ header,nav,footer {
  background: Green;
  display: block;
  width: 100%;
}
}
@media(min-width: 600px) and (max-width : 1024px){
  /* Styles */   section,.lilBox{
    background: red;
    width: 94%;
    margin: 2%
}
}
@media(min-width : 1024px) {
  /* Styles */ .longNose {
    background: blue;
}
}
